.uploader{
  height: 300px;
  width: 300px;
  position: fixed;
  background-color: var(--dark);
  bottom: 0;
  right: 0;
  padding: 20px;
  border-radius: 12px;
  overflow-y: auto;
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font: var(--font-l);
  }
  &__close{
    padding: 3px;
  }
}

.upload-file{
  background-color: var(--bg-color);
  border-radius: 8px;
  margin: 10px 0;
  padding: 5px 10px;
  box-shadow: 0 0 0 2px var(--shadow-color);
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__progress-bar{
    height: 1rem;
    border-radius: 8px;
    background-color: var(--dark);
    display: flex;
    margin: 3px 0;
  }
  &__remove{
    font-size: 16px;
  }
  &__upload-bar{
    background-color: var(--primary-color);
    border-radius: 8px;
  }
  &__percent{
    color: var(--shadow-color);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-weight: 900;
  }
}