.filelist{
  margin: 20px 0;
  padding: 0 70px;
  &__header{
    display: grid;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    font: var(--font-l);
  }
  &__name{
    grid-column-start: 2;
  }
  &__date{
    grid-column-start: 5;
    justify-self: center;
  }
  &__size{
    grid-column-start: 6;
    justify-self: center;
  }
}

.fileplate{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 30px 70px;
}

.file-enter-active{
  animation: file-enter 500ms forwards;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}