.profile{
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 70px);
  padding: 20px;
  &__name{
    font: var(--font-xl);
  }
  &__avatar{
    min-width: 20%;
    min-height: 20%;
    max-width: 50%;
    max-height: 50%;
    border-radius: 50%;
  }
  &__uploader{
    border: 2px dashed var(--primary-color);
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    font: var(--font-l);
  }
  &__upload-input{
    display: none;
  }
}