.btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: all 500ms ease;
  text-align: center;
  background: transparent;
  color: var(--primary-color);

  &:hover {
    background: #3500D3;
    color: white;
    filter: drop-shadow(0 0 0.75rem var(--primary-color));
    box-shadow: 0 0 0 2px var(--primary-color);
  }
}

.l {
  font: var(--font-l);
}

.exit {
  font: var(--font-l);
  padding: 0 10px;
  &:hover {
    background: transparent;
    color: white;
    box-shadow: none;
  }
}

.m {
  font: var(--font-m);
}

.delete{
  color: red;
  &:hover {
    background: #5b091d;
    color: white;
    filter: drop-shadow(0 0 0.5rem #b20b10);
    box-shadow: 0 0 0 2px #b20b10;
  }
}